/Makefile.am
/_Noreturn.h
/alloca.in.h
/arg-nonnull.h
/assert.in.h
/basename-lgpl.c
/basename-lgpl.h
/c++defs.h
/cloexec.c
/cloexec.h
/close.c
/dup2.c
/errno.in.h
/error.c
/error.in.h
/fcntl.c
/fcntl.in.h
/fd-hook.c
/fd-hook.h
/filename.h
/fstat.c
/getdtablesize.c
/getprogname.c
/getprogname.h
/gettext.h
/idx.h
/intprops-internal.h
/intprops.h
/limits.in.h
/locale.in.h
/lstat.c
/malloca.c
/malloca.h
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/open.c
/pathmax.h
/stat-time.c
/stat-time.h
/stat-w32.c
/stat-w32.h
/stat.c
/stdckdint.in.h
/stddef.in.h
/stdint.in.h
/stdio-read.c
/stdio-write.c
/stdio.in.h
/stdlib.c
/stdlib.in.h
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/sys_stat.in.h
/sys_types.in.h
/time.in.h
/unistd.c
/unistd.in.h
/verify.h
/warn-on-use.h
/xalloc-oversized.h
/getdelim.c
/getline.c
/fseterr.c
/fseterr.h
/stdio-consolesafe.c
/stdio-impl.h
